<form autocomplete="off" #editKhachHangModal="ngForm" (ngSubmit)="save()">
    <h1 mat-dialog-title>{{ "EditKhachHang" | localize }} <b>{{ khachHang ? khachHang.phoneNumber : ''}}</b></h1>
    <mat-dialog-content style="width:800px;height:350px;">
        <mat-tab-group>
            <mat-tab [label]="'KhachHangDetails' | localize">
                <br />
                <div class="row-fluid">
                    <div class="col-md-6">
                        <mat-form-field>
                            <input matInput name="KhachHangName" [placeholder]="'Name' | localize"
                                [(ngModel)]="khachHang.name" required maxlength="32" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field>
                            <input matInput name="EmailAddress" [placeholder]="'EmailAddress' | localize"
                                [(ngModel)]="khachHang.emailAddress" type="email" required maxlength="256"
                                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-12">
                        <mat-form-field>
                            <input matInput name="DiaChi" [placeholder]="'DiaChi' | localize"
                                [(ngModel)]="khachHang.address" maxlength="255" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field>
                            <mat-select [placeholder]="'TinhThanh' | localize" [(ngModel)]="khachHang.provinceId"
                                name="DiaChiTinhThanh" (selectionChange)="onChangeTinhThanh($event.value)">
                                <mat-option *ngFor="let tinhthanh of danhSachTinhThanh" [value]="tinhthanh.id">{{ tinhthanh.displayName }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field>
                            <mat-select [placeholder]="'QuanHuyen' | localize" [(ngModel)]="khachHang.districtId" name="DiaChiQuanHuyen">
                                <mat-option *ngFor="let quanhuyen of danhSachQuanHuyen" [value]="quanhuyen.id">{{ quanhuyen.displayName }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-dialog-content>
    <div mat-dialog-actions align="end" style="padding-bottom: 20px;">
        <button mat-button type="button" [disabled]="saving" (click)="close(false)" style="margin-right: 5px;">
            {{ "Cancel" | localize }}
        </button>
        <button mat-flat-button type="submit" flex="15" color="primary"
            [disabled]="!editKhachHangModal.form.valid || saving">
            {{ "Save" | localize }}
        </button>
    </div>
</form>